brushes/
helmets/
legend_armor_scripts/
unpacked/legend_armor/0
unpacked/legend_armor/1
unpacked/legend_armor/2



!scripts/items/legend_helmets/helmets/
!unpacked/**/helmets

scripts/items/legend_armor/cloth/
scripts/items/legend_armor/chain/
scripts/items/legend_armor/plate/
scripts/items/legend_armor/cloak/
scripts/items/legend_armor/tabard/


gfx/*.png
!gfx/skills*
!gfx/ui**
*.cnut
*.DS_Store
temp.nut

unpacked/legend_enemies/metadata.xml
unpacked/**/*dead_arrows.png
unpacked/**/*dead_javelin.png
unpacked/legend_armor/metadata.xml
unpacked/legend_helmets/metadata.xml
unpacked/legend_helmets/0
unpacked/legend_helmets/1
unpacked/legend_helmets/2
unpacked/legend_helmets/3
unpacked/legend_helmets/4
!unpacked/dead_arrows.png
!unpacked/dead_javelin.png
!**/bust_naked_body_00_dead*



unpacked/legend_helmets/4/metadata.xml
