brushes/
helmets/
!scripts/items/legend_helmets/helmets/

scripts/items/legend_armor/cloth/
scripts/items/legend_armor/chain/
scripts/items/legend_armor/plate/


gfx/*.png
!gfx/skills*
!gfx/ui*
*.cnut
*.DS_Store

unpacked/**/*dead_arrows.png
unpacked/**/*dead_javelin.png
unpacked/legend_armor/metadata.xml
unpacked/legend_helmets/metadata.xml
unpacked/legend_helmets/0
unpacked/legend_helmets/1
!unpacked/dead_arrows.png
!unpacked/dead_javelin.png

